@tailwind base;
@tailwind components;
@tailwind utilities;

.section-title-01{  
    margin-bottom: 2rem;
    background: linear-gradient(to top, transparent 0%, #252525 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .1;
}
